<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form>
		<label>Amount</label>
		<input type="number" name="Amount" value="" id="input">
		<select id="select">
			<option></option>
		</select>
		<button type="button" id="btnSubmit" value="Change">Change</button>
	</form>
	<p id="changed"></p>VND
</body>
</html>